.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: pink;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe{
    color: gray;
}